.header {
	font-family: arial;
	font-size: 16px;
	background-color: #efdcdc;
	color: #9d4848;
	width: 800px;
	margin: 5px;
}

.side {
	font-family: arial;
	font-size: 12px;
	background-color: #efdcdc;
	border-style: solid 1px #efdcdc;
	width: 200px;
	margin: 5px;
}

.body {
	font-family: arial;
	font-size: 12px;
	background-color: #efdcdc;
	border-style: solid 1px #efdcdc;
	width: 600px;
	margin: 5px;
}

.footer {
	font-family: arial;
	font-size: 10px;
	background-color: #efdcdc;
	color: #9d4848;
	width: 800px;
	margin: 5px;
	
}